<template>
	<div class="page">
		<indicator class="indicator" :total="maxPages" @click-prev="onPrevClicked" @click-more="onMoreClicked"></indicator>
		<transition :name="transitionClass" mode="out-in">
			<item-list :key="listKey" :itemList="itemList" :pageName="pageName"></item-list>			
		</transition>
	</div>
</template>

<script>
import CONST from '../assets/const';
import Indicator from '../components/Indicator.vue';
import ItemList from '../components/ItemList.vue'

export default {
	name: 'page',

	components: {
		Indicator,
		ItemList
	},
	
	props: {
		pageName: {
			type: String,
			required: true
		}
	},

	data: function() {
		return {
			transitionClass: 'slide-fade-left'
		};
	},

	computed: {
		listKey: function() {
			return this.pageName + this.$route.params.page;
		},
		maxPages: function() {
			return this.$store.getters.activeMaxPages;
		},
		itemList: function() {
			return this.$store.getters.activeItems;
		}
	},
	
	methods: {
		onPrevClicked: function(next) {
			// You have to add this line of code, I have not understood by now, maybe conflict page component
			this.transitionClass = 'slide-fade-right';
			this.$store.dispatch(
				CONST.STORE.DISPATCH.FETCH_ITEMS, 
				{ 
					type: this.pageName, 
					fromPage: next
				}
			);
			this.$router.push(`/${this.pageName}/${next}`);
		},
		onMoreClicked: function(next) {
			// You have to add this line of code, I have not understood by now, maybe conflict page component
			this.transitionClass = 'slide-fade-left';
			this.$store.dispatch(
				CONST.STORE.DISPATCH.FETCH_ITEMS, 
				{ 
					type: this.pageName, 
					fromPage: next
				}
			);
			this.$router.push(`/${this.pageName}/${next}`);
		}
	}
}
</script>

<style scoped>
.page {
	width: 100%;
}

.page .indicator {
	position: fixed;
	top: 55px;
	left: 0;
	right: 0;
	z-index: 998;;
}

.page .item-list {
	margin: 70px auto 0;
	width: 800px;
}

.slide-fade-left-enter {
	opacity: 0;
	transform: translateX(30px);
/*	-webkit-transform: translateX(30px);
	-moz-transform: translateX(30px);
	-ms-transform: translateX(30px);
	-o-transform: translateX(30px);*/
}

.slide-fade-left-leave-active {
	opacity: 0;
	transform: translateX(-30px);
/*	-webkit-transform: translateX(-30px);
	-moz-transform: translateX(-30px);
	-ms-transform: translateX(-30px);
	-o-transform: translateX(-30px);*/
	transition: transform .5s, opacity .5s;
/*	-webkit-transition: transform .5s, opacity .5s;
	-moz-transition: transform .5s, opacity .5s;
	-ms-transition: transform .5s, opacity .5s;
	-o-transition: transform .5s, opacity .5s;*/
}

.slide-fade-left-enter-active, .slide-leave {
	transition: transform .8s, opacity .8s;
/*	-webkit-transition: transform .8s, opacity .8s;
	-moz-transition: transform .8s, opacity .8s;
	-ms-transition: transform .8s, opacity .8s;
	-o-transition: transform .8s, opacity .8s;*/
}

.slide-fade-right-enter {
	opacity: 0;
	transform: translateX(-30px);
/*	-webkit-transform: translateX(-30px);
	-moz-transform: translateX(-30px);
	-ms-transform: translateX(-30px);
	-o-transform: translateX(-30px);*/
}

.slide-fade-right-leave-active {
	opacity: 0;
	transform: translateX(30px);
/*	-webkit-transform: translateX(30px);
	-moz-transform: translateX(30px);
	-ms-transform: translateX(30px);
	-o-transform: translateX(30px);*/
	transition: transform .5s, opacity .5s;
/*	-webkit-transition: transform .5s, opacity .5s;
	-moz-transition: transform .5s, opacity .5s;
	-ms-transition: transform .5s, opacity .5s;
	-o-transition: transform .5s, opacity .5s;*/
}

.slide-fade-right-enter-active, .slide-leave {
	transition: transform .8s, opacity .8s;
/*	-webkit-transition: transform 1s, opacity .8s;
	-moz-transition: transform .8s, opacity .8s;
	-ms-transition: transform .8s, opacity .8s;
	-o-transition: transform .8s, opacity .8s;*/
}
</style>