<template>
	<div class="dialog-box">
		<div class="dialog-header"><span class="dialog-title">提示</span><a class="menu-X" @click="onCloseClicked">X</a></div>
		<p class="dialog-body">{{ content }}</p>
		<div class="dialog-footer"><a class="btn" @click="onConfirmClicked">确定</a></div>
	</div>
</template>

<script>
export default {
	name: 'dialog-box',
	
	props: {
		content: {
			default: '成功'
		}
	},

	methods: {
		onCloseClicked: function() {
			this.$emit('click-close');
		},
		onConfirmClicked: function() {
			this.$emit('click-confirm');
		}
	}
}
</script>

<style>
.dialog-box {
	width: 400px;
	border: 1px solid #6a005f;
	border-radius: 3px;
	background-color: #fff;
}

.dialog-box .dialog-header {
	width: 380px;
	height: 30px;
	padding: 0 10px;
	line-height: 30px;
	background-color: #6a005f;
	color: #fff;
}

.dialog-box .menu-X {
	float: right;
}

.dialog-box .menu-X:hover {
	cursor: pointer;
}

.dialog-box .dialog-body {
	padding: 10px 10px;
}

.dialog-box .dialog-footer {
	padding: 10px 10px;
	width: 380px;
	background-color: #f2f3f5;
	text-align: center;
}

.dialog-box .dialog-footer .btn {
	width: 50px;
	height: 20px;
	font-weight: 300;
	line-height: 20px;
	text-align: center;
	font-size: 14px;
	display: inline-block;
	border-radius: 2px;
	background-color: #6a005f;
	color: #ccc;
	cursor: pointer;
}

.dialog-box .dialog-footer .btn:hover {
	color: #fff;
}
</style>