<template>
	<div class="indicator">
		<a :class='isPrevActive ? activeClass : disabledClass' @click="onPrevClicked">&lt; prev</a>
		<span>{{ current }}/{{ total }}</span>
		<a :class='isMoreActive ? activeClass : disabledClass' @click="onMoreClicked">more &gt;</a>
	</div>
</template>

<script>
export default {
	name: 'indicator',

	props: {
		total: {
			type: Number,
			required: true
		}
	},
	
	data: function() {
		return {
			current: parseInt(this.$route.params.page) || 1,
			activeClass: 'active',
			disabledClass: 'disabled'
		};
	},

	computed: {
		isPrevActive: function() {
			return this.current !== 1;
		},
		isMoreActive: function() {
			return this.current !== this.total;
		}
	},
	
	methods: {
		onPrevClicked: function() {
			if(this.current === 1) {
				return ;
			} else {
				this.current -= 1;
				this.$emit('click-prev', this.current);
			}
		},
		onMoreClicked: function() {
			if(this.current === this.total) {
				return ;
			} else {
				this.current += 1;
				this.$emit('click-more', this.current);
			}
		}
	}
}
</script>

<style scoped>
.indicator {
	padding: 15px 30px;
	text-align: center;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

div a {
	padding: 0 1em;
	cursor: pointer;
}

div a.active {
	color: #000;
}

div a.disabled {
	color: #ccc;
	cursor: auto;
}
</style>