<template>
	<div class="issue-box">
		<div class="issue-header">
			<a class="issue-title">提点建议</a>
			<a class="menu min-menu" @click="onMinClicked">-</a>
			<a class="menu max-menu" @click="onMaxClicked">+</a>
		</div>
		<div class="issue-body" :class="issueBodyShown ? 'issue-body-shown' : 'issue-body-hidden'">
			<textarea v-model='issue' class="input-box" placeholder="在这里写下你的建议..."></textarea>
			<a class="btn cancel-btn" @click='onCancelClicked'>取消</a>
			<a class="btn submit-btn" @click='onSendClicked'>发送</a>
		</div>
	</div>
</template>

<script>
export default {
	name: 'issue-box',
	
	data: function() {
		return {
			issue: '',
			issueBodyShown: false
		};
	},

	methods: {
		onMinClicked: function() {
			this.issueBodyShown = false;
			this.$emit('click-min');
		},
		onMaxClicked: function() {
			this.issueBodyShown = true;
			this.$emit('click-max');
		},
		onSendClicked: function() {
			var issue = this.issue.replace(/^\s+|\s+$/, ''); // trim
			if(issue !== ''){
				this.$emit('click-send', issue);
			}
			this.issue = '';
		},
		onCancelClicked: function() {
			this.$emit('click-cancel');
			this.issue = '';
		}
	}
}
</script>

<style scoped>
.issue-box {
	margin: 10px;
	width: 250px;
	border-radius: 3px;
	border: 1px solid #6a005f;
	background-color: #fff;
}

.issue-box .issue-header {
	width: 230px;
	height: 30px;
	padding: 0 10px;
	line-height: 30px;
	background-color: #6a005f;
	color: #fff;
}

.issue-box .issue-header .issue-title {
	float: left;
}

.issue-box .issue-header .menu {
	float: right;
	cursor: pointer;
}

.issue-box .issue-header .max-menu {
	margin-right: 3px;
}

.issue-box .issue-header .min-menu {
	margin-left: 3px;
}

.issue-box .issue-body {
	transition: height 2s, padding 2s;
	-webkit-transition: height 2s, padding 2s;
	-moz-transition: height 2s, padding 2s;
	-ms-transition: height 2s, padding 2s;
	-o-transition: height 2s, padding 2s;
}

.issue-body-shown {
	padding: 10px 10px;
	height: 247px;
	overflow: hidden;
	box-sizing: border-box;
}

.issue-body-hidden {
	padding: 0 10px;
	height: 0px;
	overflow: hidden;
}

.issue-box .issue-body .input-box {
	margin-bottom: 5px;
	padding: 5px;
	width: 220px;
	height: 190px;
	border: 1px solid #6a005f;
	border-radius: 3px;
	font-size: 14px;
	outline: none;
	resize: none;
}

.issue-box .issue-body .btn {
	width: 50px;
	height: 20px;
	font-weight: 300;
	line-height: 20px;
	text-align: center;
	font-size: 14px;
	display: inline-block;
	border-radius: 3px;
	background-color: #6a005f;
	color: #ccc;
	float: right;
	cursor: pointer;
}

.issue-box .issue-body .btn:hover {
	font-weight: normal;
	color: #fff;
}

.issue-box .issue-body .submit-btn {
	margin-right: 5px;
}

.issue-box .issue-body .cancel-btn {
	margin-left: 5px;
}
</style>