<template>
		<li class="item">
			<span class="heat">{{ item.heat }}</span>
			<span>
				<span class="title">
					<a :href="item.href" @click="onTitleClicked" target="_blank">{{ item.title }}</a>
				</span>
				<br>
				<span class="meta">
					<span class="time">{{ item.time }}</span>
				</span>
			</span>
		</li>
</template>

<script>
import CONST from '../assets/const';

export default {
	name: 'item',

	props: {
		item: {
			type: Object,
			required: true,
			validator: function(value) {
				var ret = value && value.href && value.title;
				if(ret) {
					if(!value.heat) value.heat = 0;
					return true;
				} else {
					return false;
				}
			}
		},
		pageName: {
			type: String,
			required: true
		}
	},
	
	methods: {
		onTitleClicked: function() {
			this.$store.dispatch(CONST.STORE.DISPATCH.INCREASE_HEAT, { type: this.pageName, id: this.item.id } );
			this.$emit('click-item');
		}
	}
}
</script>

<style scoped>
li {
	list-style-type: none;
}

.item {
	margin: 2px auto;
	padding: 20px 20px 20px 80px;
	width: 700px;
	background-color: #fff;
	position: relative;
}

.item:hover {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  z-index: 997;
}

.item .heat {
	width: 80px;
	height: 20px;
	text-align: center;
	font-size: 1.1em;
	font-weight: 700;
	color: #6a005f;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

.item .title {
	margin-bottom: 1px;
}

.item .title a {
	color: black;
	text-decoration: none;
}

.item .title a:hover {
	cursor: pointer;
	color: #6a005f;
	font-weight: bold;
}

.item .meta {
	margin-top: 1px;
	font-size: 0.85em;
	color: #999;
}
</style>