<template>
	<ul class="item-list">
		<li is="item" v-for="item in itemList" :key="item.id" :item="item" :pageName="pageName"></li>
	</ul>	
</template>

<script>
import Item from './Item';

export default {
	name: 'item-list',
	
	components: {
		Item
	},

	props: {
		itemList: {
			required: true,
			validator: function(l) {
				if(Object.prototype.toString.call(l) === "[object Array]") {
					return true;
				}
				return false;
			}
		},
		pageName: {
			type: String,
			required: true
		}
	}
}
</script>

<style>
.item-list {
	margin: 75px auto 0;
	width: 800px;
}
</style>