<template>
  <div id="app">
    <header class="header">
      <nav class="nav">
        <router-link to="/" exact>
          <img class="logo" src="~src/assets/logo_48x48.png" alt="logo">
        </router-link>
        <router-link to="/nju" class="tab">南京大学</router-link>
        <router-link to="/jw" class="tab">教务处</router-link>
        <router-link to="/cs" class="tab">计算机系</router-link>
        <a href="https://cn.vuejs.org" target="_blank" class="vue">powered by Vue.js</a>
      </nav>
    </header>
    <transition name="fade" mode="out-in">
      <router-view class="page"></router-view>
    </transition>
    <issue-box 
      class="issue-box" 
      @click-send="onSendClicked"
    ></issue-box>
    <dialog-box 
      :class="['dialog-box', dialogBox.showDialog ? '' : 'dialog-box-hidden']"
      :content="dialogBox.content" 
      @click-close="hideDialog" 
      @click-confirm="hideDialog"
    ></dialog>
  </div>
</template>

<script>
import Vue from 'vue';
import IssueBox from './components/IssueBox.vue';
import DialogBox from './components/DialogBox.vue';
import CONST from './assets/const';

export default {
  name: 'app',

  data: function() {
    return {
      dialogBox: {
        content: '您的建议已成功发送，谢谢您的提议！祝好！^_^',
        showDialog: false
      }
    };
  },

  components: {
    IssueBox,
    DialogBox
  },
  
  methods: {
    onSendClicked: function(issue) {
      var that = this;
      this.$store.dispatch(CONST.STORE.DISPATCH.POST_ISSUE, { issue: issue })
      .then(function(re) {
        that.showDialog(re);
      });
    },
    showDialog: function(re) {
      this.dialogBox.showDialog = true;
      if(re) {
        this.dialogBox.content = '您的建议已成功发送，谢谢您的提议！祝好！^_^';
      } else {
        this.dialogBox.content = '很抱歉，网络有点问题！未能成功发送！T_T';
      }
    },
    hideDialog: function() {
      this.dialogBox.showDialog = false;
    }
  }
}
</script>

<style>
* {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 55px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  background-color: #f2f3f5;
}

a {
  color: #fff;
  text-decoration: none;
}

#app .header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  height: 55px;
  background-color: #6a005f;
}

#app .header .nav {
  margin: 0 auto;
  max-width: 800px;
  padding: 13px 5px;
  box-sizing: border-box; /* CSS3: 使width和heigth包含padding和border */
}

#app .header .nav .logo {
  width: 30px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle; /* 按中心线对齐 */
}

#app .header .nav .tab {
  margin-right: 1.8em;
  line-height: 24px;
  display: inline-block;
  letter-spacing: 0.075em;
  font-weight: 300;
  color: #ccc;
  vertical-align: middle;
}

#app .header .nav .tab:hover {
  font-weight: normal;
  color: #fff;
}

#app .header .nav .router-link-active {
  font-weight: normal;
  color: #fff;
}

#app .header .nav .vue {
  margin: 0;

  line-height: 24px;
  color: #fff;
  font-size: 0.9em;
  font-style: italic;
  vertical-align: middle;
  float: right;
}

#app .issue-box {
  z-index: 999;
  position: fixed;
  right: 0;
  bottom: 0;
}

#app .dialog-box {
  z-index: 999;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#app .dialog-box-hidden {
  display: none;
}

/* transition */
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -ms-transition: opacity .5s;
  -o-transition: opacity .5s;
}

.fade-enter, .fade-leave-active {
  opacity: 0;
}
</style>